pipeline/PL_Ingest_Bronze_To_Silver.json
{
	"name": "PL_Ingest_Bronze_To_Silver",
	"properties": {
		"activities": [
			{
				"name": "ACT_Load_BronzeToSilver",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/fara.niang@lightberg.com/insight-azure-project/databricks/notebooks/bronze_to_silver",
					"baseParameters": {
						"storage_account": "stsalesinsightcuxm0611",
						"container": "data",
						"source_folder": "bronze/sales_orders/",
						"destination_folder": "silver/sales_orders/"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Set_DimensionNotebooksList",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_Load_BronzeToSilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Notebook",
					"value": [
						"/Workspace/Repos/fara.niang@lightberg.com/insight-azure-project/databricks/notebooks/silver_to_gold_dim_product"
					]
				}
			},
			{
				"name": "ForEach_Dimension",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_Set_DimensionNotebooksList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Notebook')\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_Execute_Orchestrator",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/fara.niang@lightberg.com/insight-azure-project/databricks/notebooks/master_notebook",
								"baseParameters": {
									"storage_account": "stsalesinsightcuxm0611",
									"silver_folder": "silver/sales_orders/",
									"secret_scope": "dbricks-scope-projet",
									"adls_secret_key": "adls-access-key",
									"sql_user_key": "sql-admin-user",
									"sql_password_key": "sql-admin-password",
									"jdbc_hostname": "sqlsvr-salesinsightcuxm0611.database.windows.net",
									"jdbc_database": "sqldb-salesinsight-gold",
									"child_notebook_path": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Notebook": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}